@import "tailwindcss";

@theme {
    --color-primary-dark: #293241;
    --color-primary-mid: #3D5B81;
    --color-primary-light: #9BC0DA;
    --color-secondary: #C75940;
}

@utility container {
    margin-inline: auto;
    max-width: 900px;
    width: 100%;
    padding-inline: 1rem;

    @variant sm {
        max-width: 100%;
    }

    @variant md {
        max-width: 100%;
    }

    @variant lg {
        max-width: 900px;
    }

    @variant xl {
        max-width: 900px;
    }
}

@utility bg-radial {
    --tw-gradient-position: in oklab;
    background-image: radial-gradient(var(--tw-gradient-stops));
}

.site-title {
    img {
        height: 22px;
    }
}
